@import '../../assets/style/color';

.input {
  padding: 5px 15px;
  border: 1px solid @input-border;
  background-color: @input-background;
  outline: none;
  height: 25px;

  &:focus {
    border: 1px solid @input-border-focus;
  }

}
