@button-default: #306082;
@button-default-hover: #3f3f74;
@button-danger: #ac3232;
@button-danger-hover: #d95763;
@button-success: #6abe30;
@button-success-hover: #37946e;


@header-background-color: #306082;

@color-button-text:  white;
@color-button-link: blue;
@color-button-link-hover: #df7126;
@color-button-disabled: #dddddd;

@color-add-button: #fff;

@box-shadow: blue;
@box-shadow-hover: darkblue;

@input-transparent-background-placeholder: black;
@input-transparent-background-focus: white;
@input-transparent-background-focus-placeholder: gray;
@input-background: white;
@input-border: gray;
@input-border-focus: orange;

@table-background-color: gray;

@color-background-course: #cbdbfc;