.answer-page {
    &__title {
        background-color: #eef;
        color: #222034;
        font-size: 2em;
        padding: 0.5em 0;
        padding-left: 0.5em;
        box-shadow: 0 0 5em -0.4em #fff;
    }

    &__answer {
        margin-top: 2em;
    }
}

.answer {
    background-color: #eef;
    padding: 1em;

    &__background {
        background-color: #306082;
        margin: 1em;
        padding: 1em;
        border-radius: 1em;
    }

    &__form {
        color: white;
    }

    &__text {
        font-size: 1em;
        padding-top: 2em;
    }

    &__progress-lines {
        padding-top: 1em;
    }

    &__progress-line {
        background-color: green;
        min-height: 1em;
        display: flex;
        color: white;
        margin: 0.5em;
    }

    &__next-button {

    }


    &__radio input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
    }
    &__radio-text {
        position: relative;
        padding: 0 0 0 35px;
        cursor: pointer;
    }
    &__radio-text:before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 22px;
        height: 22px;
        border: 1px solid #fff;
        border-radius: 25%;
        background: #fff;
    }
    &__radio-text:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 4px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #9FD468;
        box-shadow: inset 0 1px 1px #6abe30;
        opacity: 0;
        transition: .2s;
    }
    &__radio input:checked + &__radio-text:after {
        opacity: 1;
        transition: .2s;
    }
}
